:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --border-color: #ECECEC;
    --color-in-action: #2196F3;
    --hdr-ftr-background-color: #2F303A;
    --hero-button-background-color: #188CE8;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --main-background-color: #F5F4FA;
    --ftr-contact-text-color: rgba(255, 255, 255, 0.6);
    --project-border-color: #EEEEEE;
    }

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
    color: var(--main-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    color: var(--black-color);
}

.logo-blue-part {
    color: var(--color-in-action);
}

.header-menu {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-menu-studio:visited,
.header-menu-portfolio:visited,
.header-menu-contacts:visited,
.header-menu:hover,
.header-menu:focus {
    color: var(--color-in-action);
}

.header-contact {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--color-in-action);
}


.footer-logo {
    color: var(--white-color);
}

.footer {
    background-color: var(--hdr-ftr-background-color);
    
}

.footer-contacts {
    line-height: 1.71;
}

.footer-location {
    text-decoration: none;
    color: var(--white-color);
    font-style: normal;
}

.footer-mail,
.footer-phone {
    text-decoration: none;
    color: var(--ftr-contact-text-color);
    font-style: normal;
}

.footer-location:hover, .footer-location:focus,
.footer-mail:hover, .footer-mail:focus,
.footer-phone:hover, .footer-phone:focus {
    color: var(--color-in-action);
}

.list {
    list-style: none;
}

.hero {
    background-color: var(--hdr-ftr-background-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    cursor: pointer;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--color-in-action);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hero-button-background-color);
}

.title {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-title {
    color: var(--main-text-color);
    font-weight: 700;
    line-height: 1.17;
}

.advantages-description {
    color: var(--secondary-text-color);
    line-height: 1.71;
}

.staff {
    background-color: var(--main-background-color);
}

.staff-unit {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-name {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}

.staff-role {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}

.filter-btn {
    font-family: inherit;
    cursor: pointer;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background-color: var(--main-background-color);
    border-radius: 4px;
    border: none;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--color-in-action);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-unit {
    border: 1px solid var(--project-border-color);
}

.project {
    text-decoration: none;
}

.project-name {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-description {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}